li {
    display: inline-block;
    margin: 0 10px;
}
img {
    position: static;
    width: 100px;
    height: 170px;
    margin: 10px;

}

.fa-brands {
    padding: 20px;
    font-size: 100px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.fa-github-square {
    background-color: blue;
    color: white;
    

}